<HTML><body>
<form action="/login" method="post">
<p align="center">
  ID：<input type="text" name="id" />  
  Password: <input type="password" name="password" />  
  <br><br><input type="submit" value="登录" /><A href='/signup'>注册</A>
</p>
</form>


</body></HTML>
